[submodule "API-SpringB"]
	path = API-SpringB
	url = https://github.com/TQS-Project-Restaurant/API-SringB.git
	branch = main
[submodule "S-C-DS-Nextjs"]
	path = S-C-DS-Nextjs
	url = https://github.com/TQS-Project-Restaurant/S-C-DS-Nextjs.git
	branch = main
[submodule "G-M-APP"]
	path = G-M-APP
	url = https://github.com/TQS-Project-Restaurant/G-M-APP.git
	branch = main
